# ====================== 基础构建/编译文件 ======================
# Android 构建产物
*.apk
*.ap_
*.aab
output-metadata.json
# 字节码/编译中间文件
*.dex
*.class
# 生成目录
bin/
gen/
out/
lib/
obj/
jniLibs/
# Gradle 相关
.gradle/
build/
gradle
gradlew
gradlew.bat
gradle.properties
# 本地配置文件
local.properties
# NDK/原生构建
.externalNativeBuild/
.cxx/
# 测试/报告文件
reports/
jacoco.exec
*.log

# ====================== IDE 配置文件 ======================
# Eclipse
.classpath
.project
.settings/
eclipsebin
.metadata/
# IntelliJ/Android Studio
*.iml
*.ipr
*.iws
.idea/
.idea/workspace.xml
.idea/tasks.xml
.idea/gradle.xml
.idea/assetWizardSettings.xml
.idea/dictionaries
.idea/libraries
.idea/caches
misc.xml
deploymentTargetDropDown.xml
render.experimental.xml

# ====================== 系统/环境文件 ======================
# Mac
.DS_Store
# 密钥文件（不提交到仓库）
*.jks
*.keystore

# ====================== 第三方工具/服务 ======================
# Google Services (Firebase/API)
google-services.json
# Freeline 热更新
freeline.py
freeline/
freeline_project_description.json
# Fastlane 自动化打包
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
fastlane/readme.md
# Android Profiling 分析文件
*.hprof

# ====================== 自定义忽略 ======================
/app/libs/*.aar
/app/release
proguard/
captures/
.navigation/